*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --login-color: #d33838;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#forms {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 5rem auto;
}

.forms_title {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
    font-size: 24px;
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.login_button:hover, .signup_button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}

.toLoginButton, .toSignupButton {
    background: none;
    border: none;
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
    margin-top: 1px;
    display: block;
    text-align: center;
}

.toLoginButton:hover, .toSignupButton:hover {
    color: #0056b3;
}